<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>DMS2WAR</display-name>
	<servlet>
		<servlet-name>DefectManagementServlet</servlet-name>
		<display-name>DefectManagementServlet</display-name>
		<servlet-class>fpt.dms.servlet.DefectManagementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProjectEnvironmentServlet</servlet-name>
		<display-name>ProjectEnvironmentServlet</display-name>
		<servlet-class>fpt.dms.servlet.ProjectEnvironmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetupEnvironmentServlet</servlet-name>
		<display-name>SetupEnvironmentServlet</display-name>
		<servlet-class>fpt.dms.servlet.SetupEnvironmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DMSServlet</servlet-name>
		<display-name>DMSServlet</display-name>
		<servlet-class>fpt.dms.servlet.DMSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefectManagementServlet</servlet-name>
		<url-pattern>DefectManagementServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectEnvironmentServlet</servlet-name>
		<url-pattern>ProjectEnvironmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetupEnvironmentServlet</servlet-name>
		<url-pattern>SetupEnvironmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DMSServlet</servlet-name>
		<url-pattern>DMSServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
      	<exception-type>java.io.FileNotFoundException</exception-type>
		<location>error.jsp</location>
	</error-page>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/i18n-1.0</taglib-uri>
		<taglib-location>/WEB-INF/lib/i18n.jar</taglib-location>
	</taglib>
</web-app>
